.teoricoInHome-container {
  max-width: 71rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.teoricoInHome-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
