.title-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.status-label-container {
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  background-color: var(--status-bg);
  position: absolute;
  right: 0;
  top: -1rem;
}

.status-label {
  font-family: var(--font-secondary);
  font-weight: var(--weight-bold);
  font-size: var(--text-s);
  color: var(--status);
}

.status-label-container[statuskey='active'] {
  --status-bg: var(--color-active-bg);
  --status: var(--color-active);
}

@media (min-width: 1024px) {
  .title-container {
    align-items: center;
    gap: 0.3125rem;
  }

  .status-label-container {
    position: absolute;
    right: 12.5rem;
    top: -0.625rem;
  }
}
