.hero-container {
  background-color: var(--color-primary);
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.hero-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  align-items: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .hero-container {
    gap: 3.75rem;
  }

  .hero-wrapper {
    flex-direction: row;
    gap: 10rem;
    align-items: start;
    justify-content: center;
  }
}
