.cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 12.5rem;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  border: 1px solid var(--color-accent);
  padding: 0.9375rem 0.3125rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: center;
}
