.carousel-component-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.carousel-track-container {
  padding-top: 0.625rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.carousel-track {
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.35s ease;
}

.carousel-card {
  width: 15rem;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.carousel-card.card-center {
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}

.carousel-card.card-side {
  transform: scale(0.9);
  opacity: 0.4;
  cursor: pointer;
}

.carousel-card.hidden {
  opacity: 0;
  pointer-events: none;
}

.card-title {
  text-align: center;
}

@media (min-width: 764px) {
  .carousel-card {
    width: 15.0625rem;
  }

  .card-title {
    text-align: start;
  }
}

@media (min-width: 1024px) {
  .carousel-component-container {
    padding-top: 1.875rem;
    gap: 2.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .carousel-track-container {
    width: 100%;
    max-width: 33.375rem;
    margin-left: 0;
    justify-content: flex-start;
  }

  .carousel-track {
    width: 100vw;
  }

  .text-container {
    max-width: 31.25rem;
  }
}
