.button {
  font-family: var(--font-primary);
  font-weight: var(--weight-semibold);
  font-size: var(--text-m);

  border-radius: 100px;
  border: none;
  padding: 0.625rem;

  display: flex;
  gap: 0.5rem;

  cursor: pointer;
  transition: 0.2s;
}

.button.primary {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.primary:hover {
  box-shadow: 0 2px 0.1875rem 0 var(--color-accent-dark);
  transform: translateY(-0.125rem);
}

.button.secondary {
  color: var(--color-accent);
  background-color: var(--color-primary-muted);
  box-shadow: 0 0.125rem 0.25rem 0 var(--color-accent-blur);
}

.secondary:hover {
  box-shadow: inset 0 0.1875rem 0.25rem 0 var(--color-accent-blur);
}

.button.small {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.button.large {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

@media (min-width: 1024px) {
  .button {
    padding: 0.75rem;
    font-size: var(--text-l);
  }

  .button.large {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
}
