:root {
  /* COLORS */
  --color-primary: #e7e2fb;
  --color-primary-muted: rgba(255, 255, 255, 0.4);

  --color-accent-dark: #250f86;
  --color-accent: #4820ff;
  --color-accent-blur: rgba(73, 32, 255, 0.15);

  --color-black: #000000;
  --color-white: #ffffff;

  --color-active: #009516;
  --color-active-bg: #62ff7f;
  --color-inactive: #950075;
  --color-inactive-bg: #ff62f7;

  /* TYPOGRAPHY */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  /* Sizes */
  --text-xs: 0.6875rem;
  --text-s: 0.875rem;
  --text-m: 0.9375rem;
  --text-l: 1rem;
  --text-xl: 1.375rem;
  --text-xxl: 2rem;

  /* Weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}

@media (min-width: 1200px) {
  :root {
    --text-xs: 0.75rem;
    --text-s: 0.9375rem;
    --text-m: 1rem;
    --text-l: 1.0625rem;
    --text-xl: 1.4375rem;
    --text-xxl: 2.0625rem;
  }
}
