.teoricoMosaico {
  --mosaico-bg-h: max(15rem, calc(15rem / 22.75rem * 100vw));
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.teoricoMosaico-bg {
  display: block;
  width: 100%;
  height: var(--mosaico-bg-h);
  object-fit: cover;
  object-position: center;
}

.teoricoMosaico-overlay {
  position: relative;
  display: block;
  width: 78.2%;
  height: auto;
  max-width: none;
  margin-top: calc(2.125rem - var(--mosaico-bg-h));
  margin-left: auto;
  left: 13.9%;
  z-index: 1;
}

@media (min-width: 47.75rem) {
  .teoricoMosaico-overlay {
    width: 78.04%;
    margin-top: calc(4.45rem - var(--mosaico-bg-h));
  }
}

@media (min-width: 1280px) {
  .teoricoMosaico {
    --mosaico-bg-h: max(15rem, calc(15rem / 22.75rem * 100vw * 0.6));
  }

  .teoricoMosaico-overlay {
    margin-left: 0;
    left: 50%;
    width: 63.9%;
  }
}
