.homeProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 6.25rem;
  max-width: 71rem;
  margin: 0 auto;
  padding: 3.75rem 1rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .homeProjects {
    padding: 3.75rem 2rem;
  }
}
