.carousel-track-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  left: -1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}

.carousel-track {
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.35s ease;
}

.carousel-card {
  width: 12.75rem;
  aspect-ratio: 4 / 5;
  background-color: rgb(150, 150, 150);
  flex-shrink: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.carousel-card.card-center {
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}

.carousel-card.card-side {
  transform: scale(0.9);
  opacity: 0.4;
  cursor: pointer;
}

.carousel-card.hidden {
  opacity: 0;
  pointer-events: none;
}

.card-title {
  text-align: center;
}

@media (min-width: 764px) {
  .carousel-track-container {
    width: 100vw;
  }
  .carousel-card {
    width: 15.0625rem;
  }
  .card-title {
    text-align: start;
  }
}

@media (min-width: 1024px) {
  .carousel-track-container {
    width: 34.3125rem;
  }
  .card-title {
    text-align: start;
  }
}
