.language-container {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

.heading-3.unselected {
  font-weight: var(--weight-regular);
}
