.navbar-container {
  padding: 1rem 1rem 1.25rem 1rem;
  background-color: var(--color-primary);
  z-index: 3;
  top: 0;
  position: sticky;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-container {
    padding: 2rem 2rem 1.25rem 2rem;
  }
}
