.heroContent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.hero-intro-container {
  max-width: 23.4375rem;
}

.hero-stack-container {
  max-width: 375px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.hero-item-stack-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

@media (min-width: 1024px) {
  .hero-stack-container {
    justify-content: start;
  }
}

@media (min-width: 1181px) {
  .heroContent-container {
    z-index: 3;
  }
}
