.heroSection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.heroTag-container {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.heroTag-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.hero-img {
  border-radius: 6.25rem;
  width: 9.0625rem;
  height: 9.0625rem;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .hero-img {
    width: 185px;
    height: 185px;
  }
}
