.heroSection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.heroTag-container {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.heroTag-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.hero-img {
  border-radius: 6.25rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  position: relative;
  top: 0.625rem;
  box-shadow: 0 0 0 0.8125rem var(--color-primary-muted);
}

@media (min-width: 1024px) {
  .hero-img {
    width: 10.9375rem;
    height: 10.9375rem;
    z-index: 3;
  }
}
