.burger {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;

  width: 1.875rem;
  height: 1.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.burger span {
  height: 0.125rem;
  width: 100%;
  background: var(--color-accent);
  border-radius: 6.25rem;
  transition: 0.3s ease;
}
.burger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-container {
  background-color: var(--color-primary-muted);
  border: 1px solid var(--color-primary-muted);
  box-shadow: -0.125rem 0 2rem 0 var(--color-accent-blur);
  backdrop-filter: blur(0.625rem);

  position: fixed;
  top: 0;
  right: 0;

  padding-left: 2.1875rem;
  padding-top: 2rem;

  width: 18.75rem;
  height: 100vh;
}
